@import 'styles/variable.scss';
@import 'styles/mixin.scss';

.repo-container {
  display: flex;
  flex-direction: column;
}

.top {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 100px;
  width: 100%;
  .bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,153,153,.8);
  }
  .content {
    width: 300px;
    position:absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    font-size: 14px;
    .name {
      font-size: 20px;
      @include text-over();
    }
    .desc {
      @include text-over-multiple(2);
    }
  }

  .corner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

}

.tabs {
  height: 50px;
}

.list {
  box-sizing: border-box;
  padding: 5px 8px 0;
  .info-p {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 2;
    color: $color-font;
    @include bg-shadow();
    .name-wrapper {
      display: flex;
      font-size: 18px;
      .name {
        color: $color-font-blue;
      }
      .repo-name {
        @include text-over();
      }
    }
    .time {
      font-size: 14px;
    }
    .info-b {
      display: flex;
      justify-content: space-around;
      text-align: center;
      line-height: 1.5;
      padding: 15px 0;
      font-size: 14px;
      .b-num {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .readme {
    margin-top: 10px;
    @include bg-shadow();
    padding: 10px;
    .readme-name {
      color: $color-font-blue;
    }
  }
}
