// 颜色配置
$color-background: #eee;
$color-theme: #099;

// tabs 配置 #d4237a
$color-tabs-background: #099;
$color-tabs: #ddd;

// font 配置
$color-font: #333;
$color-font-grey: #666;
$color-font-blue: #1240ab;
