@import 'styles/mixin.scss';

.user-item {
  @include bg-shadow();
  display: flex;
  padding: 8px;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 8px 10px;
  align-items: center;

  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
