.loading {
  text-align: center;
  .rotate-icon {
    animation: 1s rotate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    display: inline-block;
    @keyframes rotate {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
