@import 'styles/variable.scss';
@import 'styles/mixin.scss';

.repo-item {
  display: flex;
  padding: 14px;
  line-height: 2.2;

  .repo-avatar {
    min-height: 50px;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex: 1;
    .top {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      .repo-name {
        color: $color-font-blue;
        @include text-over();
        font-weight: bold;
        width: 180px;
      }
      .repo-lang {
        color: $color-font-grey;
        @include text-over();
        .lang-color {
          display: inline-block;
          margin: 0 2px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
      }
    }
    .repo-desc {
      font-size: 14px;
      padding-bottom: 5px;
      line-height: 1.2;
    }
    .bottom {
      display: flex;
      width: 240px;
      margin-top: 4px;
      justify-content: space-between;
      font-size: 13px;
      color: $color-font-grey;
      p {
        width: 80px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
  }
}
