@import 'styles/variable.scss';
@import 'styles/mixin.scss';

.commit-item {
  display: flex;
  padding: 8px;
  line-height: 2.2;
  margin-bottom: 5px;
  @include bg-shadow();

  .commit-avatar {
    min-height: 50px;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .commit {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    flex: 1;
    .commit-top {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      .commit-name {
        color: $color-font-blue;
        @include text-over();
        font-weight: bold;
        width: 180px;
      }
      .commit-date {
        color: $color-font-grey;
      }
    }
    .commit-desc {
      font-size: 14px;
      padding-bottom: 5px;
      line-height: 1.2;
      // @include text-over-multiple(4);
      word-wrap: break-word;
      word-break: break-all;
    }
    .bottom {
      display: flex;
      width: 280px;
      margin-top: 4px;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      color: $color-font-grey;
      p {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
  }
}
